<!-- main body of our application -->
<div class="container" id="events">
    <div id="alertsection">

    </div>
    <div class="row">

        <div class="col-sm-12">
            <div class="panel panel-default">
                <div class="panel-heading">
                    Search {{foo}}
                </div>
                <div class="panel-body">
                    <div class="input-group">

                        <input class="form-control" placeholder="Search artists, albums, tracks or playlists on Spotify or enter a Spotify URI" v-model="spotifyQuery" v-on:keyup.enter="queryAPI">
                        <div class="input-group-btn">
                            <button class="btn btn-primary" id="search-submit" v-on:click="queryAPI">Submit</button>
                        </div>

                    </div>

                    <div id="search-result" v-if="searchResults.items" transition="fade">
                        <hr>

                        <div class="media" v-if="searchResults.type == 'single'">
                            <div class="media-left">
                                <img class="img-rounded" v-bind:src="searchResults.items[0].image_link" height="100" alt="">
                            </div>
                            <div class="media-body">
                                <h3 class="media-heading">\{{searchResults.items[0].name}} [\{{searchResults.items[0].type.capitalize()}}]</h3>
                                <ul class="list-unstyled">
                                  <li>Link: <a href="\{{searchResults.items[0].spotify_link}}" target="_blank" v-text="searchResults.items[0].spotify_link | truncate 50 '...'"></a></li>
                                </ul>
                            </div>
                            <div class="media-right">
                                <button class="btn btn-success" v-on:click="addToQueue(searchResults.items[0].uri)"><span class="glyphicon glyphicon-plus"></span> Add</button>
                            </div>
                        </div>

                        <div class="panel-group" id="accordion" v-if="searchResults.type == 'suggestions'" role="tablist" aria-multiselectable="true">
                            {{result-panel "album"}}
                            {{result-panel "artist"}}
                            {{result-panel "track"}}
                            {{result-panel "playlist"}}
                        </div>
                    </div>


                </div>

            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-12">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <input id="queuesearch" class="form-control input-sm pull-right" placeholder="Search" v-model="searchstring"> Queue
                </div>
                <div class="panel-body">
                    <table id="queuetable" class="table table-hover">
                        <thead>
                            <tr>
                                <th>Status</th>
                                <th>Name</th>
                                <th>Type</th>
                                <th></th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr v-for="item in queue | filterBy searchstring">
                                <td v-if="item.status == consts.status.QUEUED">
                                    <p class="text-info" data-toggle="tooltip" data-placement="top" title="Added: \{{new Date(item.date_added).toLocaleString()}}"><i class="glyphicon glyphicon-info-sign"></i> in queue</p>
                                </td>
                                <td v-if="item.status == consts.status.DOWNLOADING">
                                    <p class="text-primary" data-placement="top" title="Download Started: \{{new Date(item.date_download_started).toLocaleString()}}"><i class="glyphicon glyphicon-info-sign"></i> in progress</p>
                                </td>
                                <td v-if="item.status == consts.status.FINISHED">
                                    <p class="text-success" data-placement="top" title="Download Finished: \{{new Date(item.date_download_finished).toLocaleString()}}"><i class="glyphicon glyphicon-info-sign"></i> finished</p>
                                </td>
                                <td><img class="" v-bind:src="item.image_link" height="20" alt=""> \{{item.name}}</td>
                                <td>\{{item.type.capitalize()}}</td>
                                <td>
                                    <a href="\{{item.download_link}}" class="btn btn-sm btn-primary pull-right" v-if="item.status == consts.status.FINISHED">
                                        <i class="glyphicon glyphicon-download"></i> Download
                                    </a>
                                    <button class="btn btn-sm btn-primary pull-right" v-if="item.status == consts.status.DOWNLOADING" disabled>
                                        <i class="glyphicon glyphicon-refresh"></i> Downloading...
                                    </button>
                                    <button class="btn btn-sm btn-danger pull-right" v-if="item.status == consts.status.QUEUED" v-on:click="removeFromQueue($index)">
                                        <i class="glyphicon glyphicon-trash"></i> Delete
                                    </button>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                    <!--
              <div class="list-group">
                  <a href="#" class="list-group-item" v-for="item in queue">
                    <template v-if="item.status == consts.status.QUEUED">
                      <button class="btn btn-danger pull-right">Delete</button>
                      <h4><i class="glyphicon glyphicon-music"></i> \{{ item.name }}</h4>
                      <p>
                         <i class="glyphicon glyphicon-user"></i> \{{item.artist}}
                      </p>
                      <p class="text-info"><i class="glyphicon glyphicon-info-sign"></i> in queue</p>
                    </template>

                    <template v-if="item.status == consts.status.FINISHED">
                      <button class="btn btn-primary pull-right" v-on:click="deleteEvent($index)">
                          <i class="glyphicon glyphicon-download"></i> Download
                      </button>
                      <h4><i class="glyphicon glyphicon-music"></i> \{{ item.name }}</h4>
                      <p>
                         <i class="glyphicon glyphicon-user"></i> \{{item.artist}}
                      </p>
                      <p class="text-success"><i class="glyphicon glyphicon-info-sign"></i> download finished</p>
                    </template>

                    <template v-if="item.status == consts.status.DOWNLOADING">
                      <button class="btn btn-primary pull-right" v-on:click="deleteEvent($index)" disabled>
                          <i class="glyphicon glyphicon-refresh"></i> Downloading...
                      </button>
                      <h4><i class="glyphicon glyphicon-music"></i> \{{ item.name }}</h4>
                      <p>
                         <i class="glyphicon glyphicon-user"></i> \{{item.artist}}
                      </p>
                      <p class="text-primary"><i class="glyphicon glyphicon-info-sign"></i> in progress</p>
                    </template>



                  </a>
              </div>
-->
                </div>
            </div>

        </div>
    </div>
</div>
